.app {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.top-shows{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
