.tv-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width:200px;
    height: 360px;
    background-color:#FAFBFC    
}

.link-to-one-show{
    text-decoration: none;
    color: black;
}

.tv-show:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,1),0 10px 20px 0 rgba(0,0,0,1);
}

.show-img{
    width: 100%;  
    height: 77%;  
}

.show-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}